<% if @cart_items.empty? %>
  <h4>Your cart is empty! Shop more!</h4>
<% else %>
  <h4>Your Cart</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Item Name</th>
        <th width="125">Current Price</th>
        <th width="125">Quantity</th>
        <th width="200">Picture</th>
        <th width="200">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |oitem| %>
        <tr>
          <td><%= link_to oitem.item.name, item_path(oitem.item) %></td>
          <td><%= oitem.item.current_price %></td>
          <td><%= oitem.quantity  %></td>
          <td><img src=<%= oitem.item.picture %> style="width: 200px; height: 180px"></td>
          <td><%= link_to(eval("deleteFromCart_Item_path(#{oitem.item.id})"), class: 'waves-effect waves-light btn') do %>
    &nbsp;<%= "X" %><td>
<% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <b>Subtotal</b>: $<%= @subtotal %>

    <%= link_to(eval("new_order_path"), class: "button radius") do %>
    <!-- <i class="fa fa-plus"></i> -->
    &nbsp;Checkout

  <% end %>
<% end %>

<p>&nbsp;</p>