<% if @cart_items.empty? %>
  <h4>Your cart is empty! Shop more!</h4>
<% else %>
  <h4>Your Cart</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Item Name</th>
        <th width="125">Current Price</th>
        <th width="125">Quantity</th>
        <th width="200">Picture</th>
        <th width="100"><center></center></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |oitem| %>
        <tr>
          <td><%= link_to oitem.item.name, item_path(oitem.item) %></td>
          <td><%= oitem.item.current_price %></td>
          <td><%= oitem.quantity  %></td>
          <td><img src=<%= oitem.item.picture %> style="width: 200px; height: 180px"></td>
          <td><center><%= link_to 'clear', deleteFromCart_Item_path(oitem.item.id), class: 'material-icons', method: 'get' %></center></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <b>Subtotal</b>: $<%= @subtotal %>

    <%= link_to(eval("new_order_path"), class: "button radius") do %>
    <!-- <i class="fa fa-plus"></i> -->
    &nbsp;Checkout

    <% end %>
    <br /><br /><br />
    <%= link_to(eval("cartReset_path"), class: "button radius") do %>
    <!-- <i class="fa fa-plus"></i> -->
    &nbsp;Clear Cart

    <% end %>
<% end %>

<p>&nbsp;</p>