<%= render :partial => "partials/title_with_search", locals: {title: "Items in Baking Factory"} %>

<% if @breads.empty? %>
  <h4>No active breads at this time</h4>
<% else %>
  <h5>Breads</h5>
    <div class="row">
      <% @breads.each do |item| %>
        <div class="col s3"><center>
          <% if item.picture_url.nil? %>
            <%= link_to(image_tag('no-image.png', size: "200x180"), item_path(item)) %>
          <% else %>
            <%= link_to(image_tag(item.picture, size: "200x180"), item_path(item)) %>
          <% end %>
          <center><%= link_to item.name, item_path(item) %></center>
          <%= number_to_currency(item.current_price) %>

          <% if can? :destroy, :item %>
            <% if item.active %>
              <%= link_to(eval("deactivate_Item_path(#{item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
                &nbsp;<%= "Deactivate" %>
              <% end %>
            <% else %>
              <%= link_to(eval("activate_Item_path(#{item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
                &nbsp;<%= "Activate" %>
              <% end %>
            <% end %>
          <% end %>

          

          <br /><%= link_to 'add_shopping_cart', addToCart_Item_path(item.id), class: 'material-icons', method: 'get' %><br /><br />
        </center></div>
      <% end %>
    </div>  
<% end %>

<% if @muffins.empty? %>
  <h4>No active muffins at this time</h4>
<% else %>
  <h5>Muffins</h5>
    <div class="row">
      <% @muffins.each do |item| %>
        <div class="col s3"><center>
          <% if item.picture_url.nil? %>
            <%= link_to(image_tag('no-image.png', size: "200x180"), item_path(item)) %>
          <% else %>
            <%= link_to(image_tag(item.picture, size: "200x180"), item_path(item)) %>
          <% end %>
          <center><%= link_to item.name, item_path(item) %></center>
          <%= number_to_currency(item.current_price) %>

          <% if can? :destroy, :item %>
            <% if item.active %>
              <%= link_to(eval("deactivate_Item_path(#{item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
                &nbsp;<%= "Deactivate" %>
              <% end %>
            <% else %>
              <%= link_to(eval("activate_Item_path(#{item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
                &nbsp;<%= "Activate" %>
              <% end %>
            <% end %>
          <% end %>

          <br /><%= link_to 'add_shopping_cart', addToCart_Item_path(item.id), class: 'material-icons', method: 'get' %><br /><br />
        </center></div>
      <% end %>
    </div>   
<% end %>

<% if @pastries.empty? %>
  <h4>No active pastries at this time</h4>
<% else %>
  <h5>Pastries</h5>
    <div class="row">
      <% @pastries.each do |item| %>
        <div class="col s3"><center>
           <% if item.picture_url.nil? %>
            <%= link_to(image_tag('no-image.png', size: "200x180"), item_path(item)) %>
          <% else %>
            <%= link_to(image_tag(item.picture, size: "200x180"), item_path(item)) %>
          <% end %>
          <center><%= link_to item.name, item_path(item) %></center>
          <%= number_to_currency(item.current_price) %>


          <% if can? :destroy, :item %>
            <% if item.active %>
              <%= link_to(eval("deactivate_Item_path(#{item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
                &nbsp;<%= "Deactivate" %>
              <% end %>
            <% else %>
              <%= link_to(eval("activate_Item_path(#{item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
                &nbsp;<%= "Activate" %>
              <% end %>
            <% end %>
          <% end %>

          <br /><%= link_to 'add_shopping_cart', addToCart_Item_path(item.id), class: 'material-icons', method: 'get' %><br /><br />
        </center></div>
      <% end %>
    </div>   
<% end %>


<% if logged_in? && current_user.role?(:admin) %>

  <% if (@inactive_items.empty?) %>
    <h5>No inactive items</h5>
  <% else %>
    <h5>Inactive Items</h5>
      <div class="row">
        <% @inactive_items.each do |item| %>
          <div class="col s3"><center>
            <% if item.picture_url.nil? %>
              <%= link_to(image_tag('no-image.png', size: "200x180"), item_path(item)) %>
            <% else %>
              <%= link_to(image_tag(item.picture, size: "200x180"), item_path(item)) %>
            <% end %>
            <center><%= link_to item.name, item_path(item) %></center>
            <%= number_to_currency(item.current_price) %>

            <% if can? :destroy, :item %>
              <% if item.active %>
                <%= link_to(eval("deactivate_Item_path(#{item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
                  &nbsp;<%= "Deactivate" %>
                <% end %>
              <% else %>
                <%= link_to(eval("activate_Item_path(#{item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
                  &nbsp;<%= "Activate" %>
                <% end %>
              <% end %>
            <% end %>

            <br /><br /><br />
          </center></div>
        <% end %>
      </div>   
  <% end %>
<% end %>


<p>&nbsp;</p>