<% if @breads.empty? %>
  <h4>No active breads at this time</h4>
<% else %>
  <h4>Breads</h4>
    <div class="row">
      <% @breads.each do |item| %>
        <div class="col s3"><center>
          <img src=<%= item.picture %> style="width: 200px; height: 180px">
          <%= link_to item.name, item_path(item) %><br />
          $<%= item.current_price %>

          <br /><br /><br />
        </center></div>
      <% end %>
    </div>  
<% end %>

<% if @muffins.empty? %>
  <h4>No active muffins at this time</h4>
<% else %>
  <h4>Muffins</h4>
    <div class="row">
      <% @muffins.each do |item| %>
        <div class="col s3"><center>
          <img src=<%= item.picture %> style="width: 200px; height: 180px">
          <%= link_to item.name, item_path(item) %><br />
          $<%= item.current_price %>

          <br /><br /><br />
        </center></div>
      <% end %>
    </div>   
<% end %>

<% if @pastries.empty? %>
  <h4>No active pastries at this time</h4>
<% else %>
  <h4>Pastries</h4>
    <div class="row">
      <% @pastries.each do |item| %>
        <div class="col s3"><center>
          <img src=<%= item.picture %> style="width: 200px; height: 180px">
          <%= link_to item.name, item_path(item) %><br />
          $<%= item.current_price %>

          <br /><br /><br />
        </center></div>
      <% end %>
    </div>   
<% end %>




<p>&nbsp;</p>