<h3><%= @item.name %></h3>

<p>
  <b>Current Price</b>: <%= @item.current_price %>
</p>

<p>
  <b>Category</b>: <%= @item.category %>
</p>

<p>
  <b>Units</b>: <%= @item.units_per_item %>
</p>

<p>
  <b>Weight</b>: <%= @item.weight %>
</p>

<p>
  <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
</p>

<p>
  <b>Description</b>: <%= @item.description %>
</p>

<img src=<%= @item.picture %> style="width:400px">

<p>
  <em>A Baking Factory item since <%= @item.created_at.year %>.</em>
</p>



<!-- Add a button for new instances of object -->





<%= link_to(eval("addToCart_Item_path(#{@item.id})"), class: 'waves-effect waves-light btn') do %>
    &nbsp;<%= "Add To Cart" %>
<% end %>

<h4>Customers also love...</h4>


<% if @similar_items.empty? %>
  <h4>Nothing at the moment.</h4>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="225">Name</th>
        <th width="125">Price</th>
        <th width="200">Units</th>
        <th width="200">Picture</th>
      </tr>
    </thead>
    <tbody>
      <% @similar_items.select{|s| s.id != @item.id}.each do |item| %>
        <tr>
          <td><%= link_to item.name, item_path(item) %></td>
          <td><%= item.current_price %></td>
          <td><%= item.units_per_item  %></td>
          <td><img src=<%= item.picture %> style="width: 200px; height: 180px"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>