<h3><%= @item.name %></h3>

<p>
  <b>Current Price</b>: <%= number_to_currency(@item.current_price) %>
</p>

<p>
  <b>Category</b>: <%= @item.category %>
</p>

<p>
  <b>Units</b>: <%= @item.units_per_item %>
</p>

<p>
  <b>Weight</b>: <%= @item.weight %>
</p>

<p>
  <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
</p>

<p>
  <b>Description</b>: <%= @item.description %>
</p>

<% unless @item.picture_url.nil? %>
  <img src=<%= @item.picture %> style="width:400px">
<% end %>

<p>
  <em>A Baking Factory item since <%= @item.created_at.year %>.</em>
</p>



<!-- Add a button for new instances of object -->





<%= link_to(eval("addToCart_Item_path(#{@item.id})"), class: 'waves-effect waves-light btn') do %>
    &nbsp;<%= "Add To Cart" %>
<% end %>


<% if @similar_items.select{|s| s.id != @item.id}.empty? %>
<% else %>
  <br /><br />
  <h4>Customers also love...</h4>
  <hr><br />
    <div class="row">
      <% @similar_items.select{|s| s.id != @item.id}.each do |item| %>
        <div class="col s4"><center>
          <% if item.picture_url.nil? %>
            <%= link_to(image_tag('no-image.png', size: "200x180"), item_path(item)) %>
          <% else %>
            <%= link_to(image_tag(item.picture, size: "200x180"), item_path(item)) %>
          <% end %>
          <center><%= link_to item.name, item_path(item) %></center><br />
          $<%= item.current_price %>

          <br /><br /><br />
        </center></div>
      <% end %>
    </div>   
<% end %>


<% if can? :destroy, :item %>
  <% if @item.active %>
    <%= link_to(eval("deactivate_Item_path(#{@item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
      &nbsp;<%= "Deactivate" %>
    <% end %>
  <% else %>
    <%= link_to(eval("activate_Item_path(#{@item.id})"), class: 'waves-effect waves-light btn btn-alert') do %>
      &nbsp;<%= "Activate" %>
    <% end %>
  <% end %>
<% end %>