<h3><%= @item.name %></h3>

<p>
  <b>Current Price</b>: <%= @item.current_price %>
</p>

<p>
  <b>Category</b>: <%= @item.category %>
</p>

<p>
  <b>Units</b>: <%= @item.units_per_item %>
</p>

<p>
  <b>Weight</b>: <%= @item.weight %>
</p>

<p>
  <b>Active</b>: <%= @item.active ? 'Yes' : 'No' %>
</p>

<p>
  <b>Description</b>: <%= @item.description %>
</p>

<img src=<%= @item.picture %> style="width:400px">

<p>
  <em>A Baking Factory item since <%= @item.created_at.year %>.</em>
</p>



<!-- Add a button for new instances of object -->





<%= link_to(eval("addToCart_Item_path(#{@item.id})"), class: 'waves-effect waves-light btn') do %>
    &nbsp;<%= "Add To Cart" %>
<% end %>